<div class='container'>
  <h1 class='my-5'>Lista de Peliculas</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @movie.each do |p| %>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= p.name %></h5>
            <p class="card-text"><%= p.synopsis %></p>
            <p><%= p.director %></p>
          </div>
        </div>
      </div>
    <% end%>
  </div>
  <%= link_to "Agregar nueva pelicula", movies_new_path, class: 'link-offset-2 link-underline link-underline-opacity-0' %>
</div>
